.App {
  text-align: center;
}
div{
  /* margin-top: 10%; */
  text-align: center;
}
ul li .Menu{
  list-style-type: none;
  justify-content: flex-end;
  display: flex;
 background-color: aqua;
 list-style-type: none;
}
ul li{
  list-style-type: none;
}