*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter,sans-serif;
}

.nav{

    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}
nav > h3, nav > h4 {
    margin: 0;
}

nav > h3 {
    margin-right: auto;
    color: #61DAFB;
}

nav > img {
    height: 30px;
    margin-right: 7px;
}
nav >h4{
    color: #fdfdfd;
} 
.myApp{
    
    border: 5px;
    background-color: #404147;
}
h1{
    color: rgb(255, 255, 255);
}
li{
  
     color: aliceblue; 
}
.name::marker{
    color: red; /* Replace 'red' with your desired color */
  }
